<div class="contain">
    <img class="responsive-img" src="https://www.pixelstalk.net/wp-content/uploads/2015/12/Awesome-Halloween-Minecraft-Wallpapers.jpg"/>
    <div class="centered">
        <h1 id="minecraft-skins-header">MINECRAFT SKINS</h1>
    </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">