<div class="row">
    <div class="input-field col s5 offset-s3">
        <input id="username" type="text" class="validate">
        <label for="username">Minecraft Username</label>
    </div>
    <div class="col s5 offset-s3 offset-l3 center-align" id="submitButton">
        <a id="submit-button-icon" class="waves-effect waves-light btn-large"><i class="large material-icons left">videogame_asset</i>Submit</a>
    </div>
</div>

<p id="ErrorMessage"></p>
<div class="slider">
    <ul class="slides">
            <li id="avatar">
            </li>
            <li id="head">
            </li>
            <li id="body">
            </li>
            <li id="skins">
            </li>
            <li id="capes">
            </li>
    </ul>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
  });
</script>
<script src="/app.js"></script>