<style>
    i{
        font-size: 16px;
    }
    a {
        background-color: black !important;
    }
</style>
<div class="row">
    <div class="input-field col s5 offset-s3">
        <input id="username" type="text" class="validate">
        <label for="username">Minecraft Username</label>
    </div>
    <div class="col s5 offset-s3 offset-l3 center-align" id="submitButton">
        <a class="waves-effect waves-light btn-large"><i class="large material-icons left">videogame_asset</i>Submit</a>
    </div>
</div>

{{!-- JS For Inputs --}}
{{!-- <script src="../src/routers/playerDB.js"></script> --}}
<script src="/app.js"></script>