.nav-wrapper {
background-color: black !important;
}

a {
color: white !important;
}

i{
    font-size: 16px;
}

.contain {
    position: relative;
    text-align: center;
    color: white;
    }

    /* Centered text */
    .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#submit-button-icon {
    background-color: black !important;
}

#minecraft-skins-header{
    font-family: Anton, Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 5px black;
    font-size: 5em !important;
    font-weight: bold;
}